.margin {
  width: 1090px;
  margin: 0 auto;
}

.nav {
  width: 100px;
  height: 204px;
  position: fixed;
  right: 20px;
  bottom: 40px;
  background: #333;
  z-index: 999;
}

.nav li {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  border-top: 1px solid #b6b6b6;
}

.top {
  background: #f5f5f5;
  width: 100%;
  height: 49px;
  margin: 0 auto;
  float: left;
}

.top {
  color: #333;
}

.top .t-l {
  float: left;
  font: 15px/49px "";
}

.top .t-l span {
  height: 36px;
  display: inline-block;
}

.top .t-l .a-log {
  color: #333;
  padding: 0 10px 0 20px;
}

.top .t-l .a-reg {
  color: #333;
}

.top .t-r {
  float: right;
}

.top .t-r ul li {
  float: left;
  font: 15px/49px "";
  height: 36px;
  line-height: 36px;
  position: relative;
  padding: 0 10px;
}

.top .t-r ul li a {
  font: 15px/49px "";
}

.top .t-r ul li span {
  font: 15px/49px "";
  display: inline-block;
}

.top .t-r ul li .tel_icon {
  background: url(../img/icon_list.png) no-repeat 0 -38px;
  width: 14px;
  height: 13px;
  margin: 0 4px 0 10px;
  display: inline-block;
}

.header {
  width: 100%;
  height: 165px;
}

.header .h-logo {
  float: left;
  width: 360px;
  height: 75px;
  padding: 30px 0 0 0;
}

.header .h-logo .logo_img {
  width: 170px;
  height: 75px;
  float: left;
}

.header .h-logo .logo_img img {
  width: 146px;
}

.header .h-logo .new_img {
  float: left;
}

.header .h-logo .new_img img {
  width: 164px;
  height: 72px;
  float: left;
}

.header .h-logo a img {
  border: 0;
  text-align: center;
  display: inline-block;
}

.header .h-search {
  float: left;
  width: 509px;
  margin-left: 65px;
}

.header .h-search .search-input {
  width: 494px;
  height: 35px;
  margin-top: 19px;
  border: 2px solid #f31425;
  z-index: 6;
  position: relative;
  border-radius: 20px;
}

.header .h-search .txt_searchbox {
  border: none;
  float: left;
  height: 19px;
  padding: 8px 0;
  width: 390px;
  margin-left: 28px;
  font-size: 13px;
  color: #999;
  background: none;
}

.header .h-search .btn_search {
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 2;
  cursor: pointer;
  border: medium none;
  color: #fff;
  height: 35px;
  width: 76px;
  font-size: 18px;
  line-height: 33px;
  background: -webkit-linear-gradient(0deg, #f44814 0%, #f11323 100%);
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

.header .h-search .search-key {
  color: #8c8c8c;
  padding-left: 14px;
  float: left;
  height: 25px;
  overflow: hidden;
  font: 13px/25px "";
}

.header .h-search .search-key a {
  padding: 0 5px 0 0;
  color: #8c8c8c;
  font-size: 13px;
}

.header .h_c_right {
  float: right;
  position: relative;
  margin-top: 19px;
  z-index: 3;
}

.header .h_c_right .h_c_r_car {
  display: block;
  border: 2px solid #F31425;
  width: 121px;
  border-radius: 39px;
  height: 39px;
  text-align: center;
  line-height: 39px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.header .h_c_right .h_c_r_car span {
  color: #222;
  font-size: 15px;
}

#nav {
  position: relative;
  background: #fff;
  border-bottom: solid 2px #df0010;
}

#nav .nav-l {
  float: left;
  height: 40px;
  background: #f11a21;
  width: 170px;
  position: relative;
}

#nav .nav-l h4 {
  font: 700 16px/40px "";
  color: #fefefe;
  text-align: center;
  width: 170px;
  text-align: center;
}

#nav .nav-l .ul-all {
  width: 170px;
  height: 400px;
  background: #f11a21;
  position: absolute;
  z-index: 999;
  display: none;
}

#nav .nav-l .ul-all .list {
  font: 18px/46px "";
  text-align: center;
  border-top: solid 1px #f45a4b;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
  width: 170px;
}

#nav .nav-l .ul-all .list .te1 {
  border-top: none;
}

#nav .nav-l .ul-all .list .te2 {
  border-bottom: none;
}

#nav .nav-l .ul-all .list a {
  font-weight: bold;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 149px;
  font-size: 14px;
  color: #fff;
}

#nav .nav-l .ul-all .list .pro {
  width: 920px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 170px;
  position: absolute;
  left: 170px;
  right: 0;
  background-color: #fff;
  z-index: 5;
  padding: 0px 0 0px 30px;
  top: 0px;
  height: 400px;
  padding-top: 2px;
  overflow: hidden;
  display: none;
}

#nav .nav-l .ul-all .list .pro .pro-l {
  width: 620px;
}

#nav .nav-l .ul-all .list .pro .pro-l dl {
  overflow: hidden;
  height: 82px;
  border-bottom: dashed 1px #dcdcdc;
}

#nav .nav-l .ul-all .list .pro .pro-l dl dt {
  float: left;
  font: 18px/48px "";
  color: #333;
}

#nav .nav-l .ul-all .list .pro .pro-l dl dd {
  float: left;
  font: 18px/30px "";
  color: #666;
  margin-top: 9px;
  margin-left: 17px;
}

#nav .nav-l .ul-all .active {
  background: #fff;
}

#nav .nav-l .ul-all .active a {
  color: #df0010;
}

#nav .nav-l .ul-all .active h3 {
  border-bottom: 1px solid #df0010;
}

#nav .nav-c {
  float: left;
}

#nav .nav-c li {
  float: left;
  width: 120px;
  height: 40px;
}

#nav .nav-c li a {
  display: block;
  color: #333;
  font: 15px/40px "";
  padding: 0 30px;
}

#nav .nav-c li a.last {
  color: #DF0010;
  padding: 0 30px 0 60px;
  font: 700 14px/40px "";
}

#nav .nav-c li a:hover {
  color: #DF0010;
}

#banner {
  width: 100%;
  height: 400px;
  position: relative;
}

#banner img {
  width: 100%;
  height: 400px;
}

#adv {
  background: #f3f3f3;
  height: 374px;
}

#adv .adv-t {
  height: 89px;
}

#adv .adv-t h3 {
  font: 700 28px/60px "";
  color: #333;
  float: left;
  margin-top: 29px;
}

#adv .adv-t span {
  float: left;
  font: 18px/60px "";
  color: #666;
  margin-top: 29px;
  margin-left: 20px;
}

#adv .box {
  width: 100%;
  height: 285px;
  background: #fff;
  float: left;
}

#adv .box .box-ul {
  width: 100%;
  height: 285px;
}

#adv .box .box-ul li {
  width: 354px;
  height: 199px;
  float: left;
}

#adv .box .box-ul li img {
  width: 199px;
  height: 199px;
  padding: 0 77px;
}

#adv .box .box-ul li p {
  font: 20px/52px "";
  color: #333;
  text-indent: 15px;
}

#adv .box .box-ul li span {
  font: 23px/33px "";
  color: #df0010;
  margin-left: 15px;
}

#adv .box .box-ul li em {
  float: right;
  font: 18px/38px "";
  width: 100px;
  height: 38px;
  border-radius: 16px;
  background: #df0010;
  color: #fff;
  text-align: center;
  margin-right: 13px;
}

#adv .box .box-ul li i {
  text-decoration: line-through;
  font: 14px/22px "";
  color: #969696;
  margin-left: 13px;
}

#recom {
  height: 564px;
  padding: 0 0 16px 0;
  background: #f3f3f3;
}

#recom .rec-t {
  height: 89px;
}

#recom .rec-t h3 {
  font: 700 28px/60px "";
  color: #333;
  float: left;
  margin-top: 29px;
}

#recom .rec-t span {
  float: left;
  font: 18px/60px "";
  color: #666;
  margin-top: 29px;
  margin-left: 20px;
}

#recom .rec-t i {
  font: 17px/53px "";
  float: right;
}

#recom .sbox {
  background: #fff;
  float: left;
  width: 100%;
}

#recom .sbox .goods {
  width: 100%;
  height: 395px;
}

#recom .sbox .goods li {
  width: 262px;
  height: 380px;
  float: left;
  margin-bottom: 15px;
  margin-right: 10px;
}

#recom .sbox .goods li img {
  width: 262px;
  height: 262px;
}

#recom .sbox .goods li em {
  font: 18px/32px "";
  color: #7f667f;
  margin-top: 5px;
  margin-left: 13px;
}

#recom .sbox .goods li p {
  font: 18px/24px "";
  color: #333;
  margin-left: 13px;
}

#recom .sbox .goods li span {
  font: 22px/46px "";
  color: #df0010;
  margin-left: 15px;
  margin-left: 13px;
}

#recom .sbox .goods li i {
  text-decoration: line-through;
  font: 14px/22px "";
  color: #969696;
  margin-left: 13px;
}

#activity {
  height: 1000px;
  background: #f3f3f3;
}

#activity .act-t h3 {
  font: 700 28px/60px "";
  color: #333;
  float: left;
  margin-top: 29px;
}

#activity .bbox {
  background: #fff;
  float: left;
  width: 100%;
}

#activity .bbox .img1 img {
  width: 1090px;
  height: 280px;
  padding: 6px 0 14px 0;
}

#activity .bbox .bbox-ul {
  width: 100%;
  height: 395px;
}

#activity .bbox .bbox-ul li {
  width: 262px;
  height: 380px;
  float: left;
  margin-bottom: 15px;
  margin-right: 10px;
}

#activity .bbox .bbox-ul li img {
  width: 262px;
  height: 262px;
}

#activity .bbox .bbox-ul li em {
  font: 18px/32px "";
  color: #7f667f;
  margin-top: 5px;
  margin-left: 13px;
}

#activity .bbox .bbox-ul li p {
  font: 18px/24px "";
  color: #333;
  margin-left: 13px;
}

#activity .bbox .bbox-ul li span {
  font: 22px/46px "";
  color: #df0010;
  margin-left: 15px;
  margin-left: 13px;
}

#activity .bbox .bbox-ul li i {
  text-decoration: line-through;
  font: 14px/22px "";
  color: #969696;
  margin-left: 13px;
}

#well {
  height: 3350px;
  background: #f3f3f3;
}

#well .well-t {
  width: 100%;
  float: left;
}

#well .well-t h3 {
  font: 700 28px/60px "";
  color: #333;
  margin-top: 29px;
}

#well .well-box {
  background: #fff;
  width: 100%;
}

#well .well-box .well-ul {
  width: 100%;
  height: 400px;
}

#well .well-box .well-ul li {
  float: left;
  margin-right: 10px;
  width: 262px;
  height: 380px;
  background-color: #fff;
  margin-bottom: 15px;
}

#well .well-box .well-ul li img {
  width: 262px;
  height: 262px;
}

#well .well-box .well-ul li em {
  font: 18px/32px "";
  color: #7f667f;
  margin-top: 5px;
  margin-left: 13px;
}

#well .well-box .well-ul li p {
  font: 18px/24px "";
  color: #333;
  margin-left: 13px;
}

#well .well-box .well-ul li span {
  font: 22px/46px "";
  color: #df0010;
  margin-left: 15px;
  margin-left: 13px;
}

#well .well-box .well-ul li i {
  text-decoration: line-through;
  font: 14px/22px "";
  color: #969696;
  margin-left: 13px;
}

#footer {
  background: #fff;
  width: 100%;
  height: 531px;
  border-bottom: solid 4px #df0010;
}

#footer .foot-t {
  width: 100%;
  height: 234px;
  border-bottom: solid 1px #f3f3f3;
}

#footer .foot-t .foot-ul {
  height: 185px;
  padding: 30px 0 40px;
}

#footer .foot-t .foot-ul li {
  width: 181px;
  height: 116px;
  float: left;
}

#footer .foot-t .foot-ul li .i1 {
  background: url(../img/bg.png) no-repeat;
  background-size: 64px 315px;
  width: 64px;
  height: 63px;
  display: block;
  margin: auto;
}

#footer .foot-t .foot-ul li .i2 {
  background: url(../img/bg.png) no-repeat;
  background-position: 0 -63px;
  background-size: 64px 315px;
  margin: auto;
  width: 64px;
  height: 63px;
  display: block;
}

#footer .foot-t .foot-ul li .i3 {
  background: url(../img/bg.png) no-repeat;
  background-position: 0 -126px;
  background-size: 64px 315px;
  margin: auto;
  width: 64px;
  height: 63px;
  display: block;
}

#footer .foot-t .foot-ul li .i4 {
  background: url(../img/bg.png) no-repeat;
  background-position: 0 -189px;
  background-size: 64px 315px;
  margin: auto;
  width: 64px;
  height: 63px;
  display: block;
}

#footer .foot-t .foot-ul li .i5 {
  background: url(../img/bg.png) no-repeat;
  background-position: 0 -252px;
  background-size: 64px 315px;
  margin: auto;
  width: 64px;
  height: 63px;
  display: block;
}

#footer .foot-t .foot-ul li h3 {
  font: 21px/31px "";
  margin-top: 9px;
  text-align: center;
}

#footer .foot-t .foot-ul li p {
  font: 17px/29px "";
  text-align: center;
}

#footer .foot-b {
  height: 296px;
  position: absolute;
  width: 1090px;
}

#footer .foot-b dl {
  float: left;
  padding: 0 34px 0 36px;
  margin-top: 56px;
}

#footer .foot-b dl dt h5 {
  color: #333;
  font-size: 17px;
  height: 31px;
}

#footer .foot-b dl dd {
  color: #666;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
}

#footer .foot-b .foot-r {
  float: right;
  position: absolute;
  top: 40px;
  right: 40px;
}

#footer .foot-b .foot-r li {
  float: left;
  width: 100px;
  margin-right: 20px;
  text-align: center;
}

#footer .foot-b .foot-r li h2 {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  height: 31px;
}

#footer .foot-b .foot-r li p {
  font-size: 14px;
  color: #666666;
}

#bottom {
  background-color: #262626;
  margin-bottom: 50px;
  height: 350px;
}

#bottom .bottom-t {
  width: 720px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

#bottom .bottom-t ul li {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding-right: 12px;
}

#bottom .bottom-t ul li a {
  font-size: 16px;
  color: #fff;
}

#bottom .bottom-t ul li span {
  padding-left: 14px;
  background: none;
  border-right: 1px solid #fff;
}

#bottom .bottom-b .b-t {
  padding-top: 10px;
  text-align: center;
  color: #C8C8C8;
  line-height: 21px;
}

#bottom .bottom-b .b-c {
  padding-top: 10px;
  text-align: center;
  color: #C8C8C8;
  line-height: 21px;
}

#bottom .bottom-b .b-c p {
  color: #bec8be;
  text-align: center;
  display: inline-block;
}

#bottom .bottom-b .b-c span {
  color: #bec8be;
  display: block;
  text-align: center;
  display: inline-block;
}

#bottom .bottom-b .b-c a {
  display: block;
  text-align: center;
  display: inline-block;
}

#bottom .bottom-b .b-b {
  padding: 30px 0 40px 0;
  text-align: center;
}

.floor {
  position: fixed;
  z-index: 100;
  right: 10px;
  top: 50%;
  height: 200px;
  width: 40px;
  font-size: 16px;
}

.floor ul li {
  border-bottom: 2px solid #fff;
  background: #aaa;
  color: #f26a18;
  text-align: center;
}
